# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.env/
.venv/
env/
ENV/
.python-version
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Assets
assets/

# Test
test*

# npm
node_modules/
dist/

# Minified Templates
templates/minified